* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  background-color: #141c24ff;
  color: "#B7C7D7";
  line-height: 1.5;
  transition: all 0.2s;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.container {
  padding: 48px;
}

.container h1 {
  color: #c69963;
  font-weight: 600;
  font-size: 32px;
}

.booked-room-card-container {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.booked-room-card {
  border: 1px solid #2c3d4f;
}
